<!DOCTYPE html>
<html>
<head>
	<title>RoR Tute Sample App | Contact</title>
</head>
<body>
	<h1>Contact</h1>
	<p>
		Contact Ruby on Rails Tutorial about the sample app at the
		<a href="http://railstutorial.org/feedback">Feedback page</a>
	</p>
</body>
</html>
		
